.bsp
.gradle
.idea
.iml
.venv

build/
target/
test_debug/*

!test_debug/gen/kotlin
test_debug/gen/kotlin/src

!test_debug/gen/python
test_debug/gen/python/src

!test_debug/gen/scala
test_debug/gen/scala/src

!test_debug/dd
test_debug/dd/kotlin/src
test_debug/dd/python/client/src
test_debug/dd/python/server/src
test_debug/dd/scala/src
test_debug/dd/trust
